<% layout('./layout') %>
<div class="bottom-scroll bottom-160" style="display: none;">
	<a href="/" class="coloe">Yayyy someone Posted a new Plan...!!!!</a>
</div>
<main>
	<div class="main-section">
		<div class="container">
			<div class="main-section-data">
				<div class="row">
					<div class="col-lg-8 col-md-8 no-pd">
						<div class="main-ws-sec">
							<div class="posts-section" id="divScroll">
								<div class="top-profiles">
									<div class="pf-hd">
										<h3>Trending Plans</h3>
									</div>
									<div class="profiles-slider" id="trendingPlans">
										<div class="user-profy">
											<img src="/loader.gif">
											<h4>loading...</h4>
											<span></span>
										</div>
									</div>
								</div>
								<div id="allPost">
									<% 
									let userId = userInfo.userId;
									for(index in feedData) { 
										let likesArray = feedData[index].likes;
										let pinArray = feedData[index].Pinned;
										let post_id = feedData[index]._id;
								%>
									<div class="posty">
										<div class="post-bar no-margin">
											<div class="post_topbar">
												<div class="usy-dt">
													<img src="/logoSmall.png" height="50" alt="">
													<div class="usy-name">
														<h3><%= feedData[index].postedBy.name %></h3>
														<span><img src="images/clock.png" alt="">
															<%= feedData[index].createdAt %>
														</span>
													</div>
												</div>
											</div>
											<div class="epi-sec">
												<ul class="descp">
													<li><img src="images/icon9.png" alt=""><span><%= feedData[index].postedFrom %></span></li>
												</ul>
												<% if(!pinArray.includes(userId)){ %>
													<ul class="bk-links">
														<li id="unPin<%= feedData[index]._id %>"><button style="border-radius: revert;" onclick="pinPost('<%= feedData[index]._id %>', '<%= feedData[index].timeStamp %>')"><i class="la la-bookmark" ></i></button></li>
													</ul>
												<% } %>
											</div>
											<div class="job_descp">
												<h4 style="padding-bottom: 10px;">“<%= feedData[index].title %>”</h4>
												<p> Timing : <%= feedData[index].planTime %></p>
												<p><%= feedData[index].description %></p>
												<p><i class="la la-map-marker"></i><%= feedData[index].planLocation %></p>
												<ul class="skill-tags">
													<li><a href="javascript:void(0);" title=""><%= feedData[index].planCategoryname %></a></li>
												</ul>
											</div>
										</div>
										<div class="comment-section">
											<ul class="like-com">
												<li id="<%= feedData[index]._id %>">
													<% if(likesArray.includes(userId)){ %>
														<a href="javascript:void(0);" onclick="unlikePost('<%= feedData[index]._id %>', '<%=  feedData[index].likesCount %>')"  class="com likedColor <%= feedData[index]._id %>">
															<i class="fas fa-heart active"></i> 
															<small id="likesCounter"> 
																<%=  feedData[index].likesCount %> likes
															</small>
														</a>
													<% }else{ %>
														<a href="javascript:void(0);" onclick="likePost('<%= feedData[index]._id %>', '<%=  feedData[index].likesCount %>')"  class="com <%= feedData[index]._id %>">
															<i class="fas fa-heart active"></i> 
															<small id="likesCounter"> 
																<%=  feedData[index].likesCount %> likes
															</small>
														</a>
													<% } %>
												</li>
												<li>
													<a href="javascript:void(0);" onclick="loadComment('<%= feedData[index]._id %>')" class="com"><i class="fas fa-comment-alt"></i>&nbsp;<%=  feedData[index].commentCount %> comments</a>
												</li>
											</ul>
											<div class="comment-sec" id="<%= feedData[index]._id %>list" style="display: none;">
												<ul>
													<li>
														<div class="comment-list">
															<div class="bg-img">
																<img src="images/resources/bg-img1.png" alt="">
															</div>
															<div class="comment">
																<h3>John Doe</h3>
																<span><img src="images/clock.png" alt=""> 3 min ago</span>
																<p>Lorem ipsum dolor sit amet, </p>
																<a href="javascript:void(0);" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>
															</div>
														</div>
													</li>
													<li>
														<div class="comment-list">
															<div class="bg-img">
																<img src="images/resources/bg-img3.png" alt="">
															</div>
															<div class="comment">
																<h3>John Doe</h3>
																<span><img src="images/clock.png" alt=""> 3 min ago</span>
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at.</p>
																<a href="javascript:void(0);" title=""><i class="fa fa-reply-all"></i>Reply</a>
															</div>
														</div><!--comment-list end-->
													</li>
												</ul>
											</div>
											<div class="post-comment" id="<%= feedData[index]._id %>box" style="display: none;">
												<div class="comment_box">
													<form>
														<input type="text" placeholder="Post a comment">
														<button type="submit" style="color: #ff546a;background-color: #ffff;">Post</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								<% } %>
								</div>
								<div class="posty" id="noDataBlock" style="display:none;">
									<div class="disp">
										No More Plan's Available
									</div>
								</div>
								<div class="process-comm" id="loaderPost" style="display: none;">
									<div class="loader-box text-center">
										<div class="spinner-box">
											<svg class="spinner-container" viewBox="0 0 44 44">
												<circle
													class="path"
													cx="22"
													cy="22"
													r="20"
													fill="none"
													stroke-width="4"
												></circle>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 pd-right-none no-pd">
						<div class="right-sidebar">
							<div class="user-data full-width">
								<div class="user-profile">
									<div class="username-dt">
										<div class="usr-pic">
											<img src="/logoSmall.png" alt="">
										</div>
									</div>
									<div class="user-specs">
										<h3><%= userInfo.name %></h3>
										<% if(userInfo.about != undefined) {%>
										<p style="padding: 0px 30px;">"<%= userInfo.about %>"</p>
										<% } %>
										<div class="plan" style="padding: 10px 10px 10px 10px;font-size: x-large;">
											<a class="post_project" href="javascript:void(0);" style="color: #ff546a;">Make a Plan</a>
										</div>
									</div>
								</div>
								<ul class="user-fw-status">
									<li>
										<h4>Total Post</h4>
										<span><%= userInfo.totalPost %></span>
									</li>
									<li>
										<h4>Your Interest</h4>
									</li>
								</ul>
								<ul class="skill-tags">
									<li><a href="javascript:void(0);" title="">HTML</a></li>
									<li><a href="javascript:void(0);" title="">PHP</a></li>
									<li><a href="javascript:void(0);" title="">CSS</a></li>
									<li><a href="javascript:void(0);" title="">Javascript</a></li>
									<li><a href="javascript:void(0);" title="">Wordpress</a></li>
									<li><a href="javascript:void(0);" title="">HTML</a></li>
									<li><a href="javascript:void(0);" title="">PHP</a></li>
									<li><a href="javascript:void(0);" title="">CSS</a></li>
									<li><a href="javascript:void(0);" title="">Javascript</a></li>
									<li><a href="javascript:void(0);" title="">Wordpress</a></li>
									<li><a href="javascript:void(0);" title=""><i class="la la-plus-circle"></i> Add More</a></li>
								</ul>
							</div>
							<div class="suggestions full-width">
								<div class="sd-title">
									<h3>Your Pinned Posts</h3>
								</div>
								<div class="suggestions-list" id="pinnedPostDiv">
									<h3 class="text-center">  Loading Your Pinned Post... </h3>
									<!--  -->
								</div>
							</div>
							<div class="tags-sec full-width">
								<ul>
									<li><a href="javascript:void(0);" title="">Help Center</a></li>
									<li><a href="javascript:void(0);" title="">About</a></li>
									<li><a href="javascript:void(0);" title="">Copyright Policy</a></li>
								</ul>
								<div class="cp-sec">
									<img src="/logoSmall.png" height="20" alt="">
									<p><img src="images/cp.png" alt="">Copyright 2019</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</main>
<div class="post-popup pst-pj">
	<div class="post-project">
		<h3>Create a Plan!!!</h3>
		<div class="post-project-fields">
			<form id="planSubmit" action="/newsFeed/createPlan" method="post">
				<div class="row">
					<div class="col-lg-12">
						<input type="text" name="title" placeholder="Plan Title">
					</div>
					<div class="col-lg-12">
						<textarea name="description" placeholder="Detailed Plan Description"></textarea>
					</div>
					<div class="col-lg-4">
						<label style="color: #ff546a;padding: 5px;"> Plan Date </label>
						<input type="date" name="planDate" />
					</div>
					<div class="col-lg-4">
						<label><h4 style="color: #ff546a;padding: 5px;"> Plan Time Start's </h4></label>
						<input type="time" name="planTimeStart" />
					</div>
					<div class="col-lg-4">
						<label> <h4 style="color: #ff546a;padding: 5px;">Plan Time End's</h4> </label>
						<input type="time" name="planTimeEnd" />
					</div>
					<div class="col-lg-12">
						<label> <h4 style="color: #ff546a;padding: 5px;">Select Plan Category</h4> </label>
						<select name="planCategory" id="planCategory">
							
						</select>
					</div>
					<div class="col-lg-12">
						<textarea name="planLocation" placeholder="Enter Plan Location"></textarea>
					</div>
					<div class="col-lg-12">
						<div class="checky-sec st2">
							<div class="fgt-sec">
								<small id="errText"></small>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<ul>
							<li><button class="active" type="submit" value="post">Create Plan</button></li>
							<li><a href="javascript:void(0);" title="">Cancel</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
		<a href="javascript:void(0);" title=""><i class="la la-times-circle-o"></i></a>
	</div>
</div>

<input type="hidden" value="10" id="scrollValue" />

<script>
		let user_id = '<%= userInfo.userId %>';
		$(".main-ws-sec").on("scroll", function () {
			let div = $(this).get(0);
			if (div.scrollTop + div.clientHeight + 100 >= div.scrollHeight) {
				$("#loaderPost").css("display", "block");
				var skipNumber = parseInt($("#scrollValue").val());
				fetch("/newsFeed/nextPost", {
					method: "POST",
					body: JSON.stringify({ skipNumber: skipNumber }),
					headers: {
						"Content-Type": "application/json",
					},
					credentials: "same-origin",
				})
				.then((res) => res.json())
				.then((resp) => {
					const status = resp.status;
					switch (status) {
						case 1:
							let postData = resp.feedData;
							let html='';

							if(Object.keys(postData).length > 0)
							{
								postData.forEach( e => {
								let arrayLikes = e.likes;
								let arrayPin = e.Pinned;
								let id_post = e._id;
								let pinDiv = '';
								let likeDiv = ''
								if(!arrayPin.includes(user_id)){
									pinDiv = `<ul class="bk-links">
										<li id="unPin${ e._id }"><button style="border-radius: revert;" onclick="pinPost('${ e._id }', '${ e.timeStamp }')"><i class="la la-bookmark" ></i></button></li>
									</ul>`
								}

								if(arrayLikes.includes(user_id)){ 
									likeDiv = `<a href="javascript:void(0);" onclick="unlikePost('${ e._id }', '${  e.likesCount }')"  class="com likedColor ${ e._id }">
										<i class="fas fa-heart active"></i> 
										<small id="likesCounter"> 
											${  e.likesCount } likes
										</small>
									</a>`
									}
								else{ 
									likeDiv = `<a href="javascript:void(0);" onclick="likePost('${ e._id }', '${  e.likesCount }')"  class="com ${ e._id }">
										<i class="fas fa-heart active"></i> 
										<small id="likesCounter"> 
											${  e.likesCount } likes
										</small>
									</a>`
								}

								html += `<div class="posty">
										<div class="post-bar no-margin">
											<div class="post_topbar">
												<div class="usy-dt">
													<img src="/logoSmall.png" height="50" alt="">
													<div class="usy-name">
														<h3>${e.postedBy.name}</h3>
														<span><img src="images/clock.png" alt="">
															${ e.createdAt }
														</span>
													</div>
												</div>
											</div>
											<div class="epi-sec">
												<ul class="descp">
													<li><img src="images/icon9.png" alt=""><span>${ e.postedFrom }</span></li>
												</ul>${pinDiv}</div>
											<div class="job_descp">
												<h4 style="padding-bottom: 10px;">“${ e.title }”</h4>
												<p> Timing : ${ e.planTime }</p>
												<p>${ e.description }</p>
												<p><i class="la la-map-marker"></i>${ e.planLocation }</p>
												<ul class="skill-tags">
													<li><a href="javascript:void(0);" title="">${ e.planCategoryname }</a></li>
												</ul>
											</div>
										</div>
										<div class="comment-section">
											<ul class="like-com">
												<li id="${ e._id }">
													${likeDiv}
												</li>
												<li>
													<a href="javascript:void(0);" onclick="loadComment('${ e._id }')" class="com"><i class="fas fa-comment-alt"></i>&nbsp;${  e.commentCount } comments</a>
												</li>
											</ul>
											<div class="comment-sec" id="${ e._id }list" style="display: none;">
											</div>
											<div class="post-comment" id="${ e._id }box" style="display: none;">
												<div class="comment_box">
													<form>
														<input type="text" placeholder="Post a comment">
														<button type="submit" style="color: #ff546a;background-color: #ffff;">Post</button>
													</form>
												</div>
											</div>
										</div>
									</div>`;

									// console.log(html)

							});

								$("#allPost").append(html)
								$("#loaderPost").css("display", "none");
								$("#scrollValue").val(skipNumber + 10);
							}
							else{
								$("#noDataBlock").css("display","block")
								$("#loaderPost").remove();
							}
							break;
						case 2:
							
							break;
						default:
							break;
					}
				});
			}
		});
</script>